<div class="content_row">
  <div class="content_post" style="background-image: url(https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg);">
    <div class="more"> 
      <span><%= image_tag 'arrow_top.png',size: '14x8' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', '#'%>
      </li>
      <li>
        <%= link_to '編集', '#'%>
      </li>
      <li>
        <%= link_to '削除', '#'%>
      </li>
    </ul>
    </div>
  <span class="name">
  <a herf="#">
  <span> 投稿者 </span>test
  </div>
</div>
    

