<!DOCTYPE html>
<html>
  <head>
    <title>Tweet1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar">
        <h1 class="header__top"><a herh="/">Tweet</a></h1>
        <div class="user_nav">test1
          <a class="post" herh="/">投稿する</a>
        </div>
      </div>
    </header>
  </body>
</html>
 